<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/hunting">View Entries</a></li>
                <li><a href="/api/hunting/create">Create Entry</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %> <!-- content of other EJS templates -->
    </main>
</body>
</html>
